.App {
    margin: 0 auto;
    width: 600px;
    font-size: 18px;
    font-weight: 300;
}

.App ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.App header {
    display: flex;
    border: 1px solid #ededed;
    height: 60px;
    justify-content: center;
}
.App header img {
    display: block;
    width: 20px;
    height: 20px;
    padding: 20px;
    padding-left: 16px;
    opacity: 0.3;
}

.App header input {
    border: none;
    height: auto;
    width: 100%;
    font-weight: 300;
    font-size: 18px;
}

.App header input::placeholder {
    font-style: italic;
    font-weight: 300;
    opacity: 0.3;
}

.App header input:focus {
    outline: none;
}